.image-container{
  width: 300px;
  overflow: hidden;
  margin:0 auto;
}
.image-reduced{
  width: 100%;
  height: auto;
}
.title{
  color:blueviolet;
  text-align: center;
}
.text{
  font: bold;
  font-size: 16px;
  width: 300px;
  text-align: justify;
  margin: 0 auto;
}
